* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  max-width: 70%;
  margin: auto;
}


.pexels-logo {
  height: 50px;
  width: 50px;
}

.nav-brand {
  display: flex;
  margin: 20px;
}

.nav-brand img,
.nav-brand h1 {
  margin: 10px;
}

.nav-menu {
  align-items: center;
}

.nav-menu li{
  margin: 10px;
}

.join-button{
padding: 10px;
margin-right: 5px;
}

.header-container{
  height: 500px;
  background-image: url(images/pexels-bg.jpg);
  filter: brightness(60%); 
  background-position: center;
  color: white;
}

.header-search{
  text-align: center;
  margin-top: 100px;
}

.search-input {
  width: 60%;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-menu,
.photo-nav {
  display: flex;
  list-style: none;
}

.photo-nav{
  justify-content: space-around;
  padding: 20px;
}

.photo-nav > li{
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
}

#gif-list {
  height: 160px;
  width: 160px;
}
